* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    color: #545454;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
  }
  
  .Container {
    /* background:#14BDAC; */
    background: #ff781f;
    margin: 50px;
    padding: 50px;
    border-radius: 35px;
    /* width: 500px;
      height: 500px; */
    animation: opacity 1s ease;
  }

  
  @keyframes opacity {
    from {
      opacity: 0%;
      top: 0px;
    }
  
    50% {
      opacity: 50%;
    }
  
    to {
      opacity: 100%;
    }
  }
  @media (max-width:450px)
  {
      .Container{
        width: 100%;
        height: 100;
      }
    }


  .title {
    text-align: center;
  }
  .title span {
    color: blanchedalmond;
  }
  
  .status-action {
    display: flex;
    margin-top: 20px;
    font: 28px;
     /* justify-content: space-around;  */
  }
  
  .reset {
    cursor: pointer;
    
  }
  
  .reset:hover {
    color: cornsilk;
  }
  
  .game-grid {
    /* background: #0DA192; */
    /* position: relative; */
    background: #ffaf7a;
    display: grid;
    grid-template-columns: repeat( 6, 1fr  );
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 4px;
    margin-top: 50px;
  }
  
  
  .game-cell {
    /* background:#14BDAC; */
    position: relative;
    background: #ff781f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
    width: 70px;
    /* animation: opacity 2s ease, position 2s ease; */
  }

  @media (max-width:450px)
  {
      .game-cell{
        width: 40px;
        height: 40px;
      }
    }
  

  
  /*  */
  .x::before {
    content: "✕";
    font-size: 40px;
    font-weight: bold;
    animation: opacity 0.4s ease;
  }
  @media (max-width:450px)
  {
      .x::before{
          font-size: 20px;
      }
  }

  
  
  .o::before {
    content: "○";
    font-size: 80px;
    color: cornsilk;
    animation: opacity 0.4s ease;
  }

  @media (max-width:450px)
  {
      .o::before{
          font-size: 40px;
      }
  }
  